html, body {
	background: linear-gradient(135deg, #211832 60%, #412B6B 100%);
	background-attachment: fixed;
	color: #F0E3E3;
	font-family: "Noto Sans", sans-serif;
	font-size: 17px;
	font-weight: 200;
	height: 100%;
	line-height: 1.5;
	margin: 0;
	padding: 0 10em;
	scroll-behavior: smooth;
}
a {
	color: #D49B54;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.2s;
}
a:hover {
	color: #C74B50;
}
a svg {
	display: inline-block;
	fill: #D49B54;
	margin-right: 1em;
	transition: fill 0.2s;
	width: 2em;
}
a svg:hover {
	fill: #C74B50;
}
b {
	font-weight: 700;
}
footer {
	align-items: center;
	background: #000;
	bottom: 0;
	display: flex;
	font-size: 1em;
	height: 4em;
	justify-content: center;
	left: 0;
	position: fixed;
	width: 100%;
}
h1 {
	font-weight: 700;
	line-height: 2;
	text-transform: uppercase;
}
iframe {
	aspect-ratio: 16/9;
	display: block;
	margin: auto;
	max-width: 33em;
	width: 100%;
}
main {
	padding-bottom: 4em;
}
nav {
	align-items: center;
	background: #000000;
	display: flex;
	gap: 1.5em;
	height: 4em;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
nav a {
	font-weight: 700;
}
section {
	margin: 4em 0 0 0;
	min-height: calc(100vh - 8em);
}
section h1 {
	scroll-margin-top: 2em;
}
span {
	background-color: #000000;
	padding: 0 0.2em;
}
svg {
	display: block;
	fill: #F0E3E3;
	margin: auto;
	max-width: 33em;
	width: 100%;
}
.cv_section {
	clear: right;
	margin-bottom: 2em;
}
.cv_section svg {
	float: left;
	margin-right: 1em;
	transition: fill 0.2s;
	width: 4em;
}
.experience {
	column-count: 2;
	column-rule-color: #F0E3E3;
	column-rule-style: solid;
	column-rule-width: thin;
}
.project {
	background-color: #00000010;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1em;
	transition: background-color 0.2s;
}
.project:hover {
	background-color: #00000040;
}
.project a {
	align-self: flex-end;
}
.projects {
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
	margin-bottom: 1em;
}
.logo {
	float: left;
	margin-bottom: 3em;
	margin-right: 3em;
	width: 13em;
}
@media (orientation: portrait) {
	html, body {
		font-size: 15px;
		padding: 0 1.5em;
	}
	h1 {
		text-align: center;
	}
	.logo {
		display: block;
		float: none;
		margin: auto;
	}
	.experience {
		column-count: 1;
	}
}
