@import url('https://fonts.googleapis.com/css?family=Lora|Outfit');
html {
	scroll-behavior: smooth;
	font-family: "Outfit", Verdana;
}
@media (orientation: landscape) {
	html {
		font-size: 20px;
	}
	.text {
		width: 50%;
		padding: 32px;
		letter-spacing: 3px;
		line-height: 1.75;
		min-height: calc(100vh - 196px);
	}
	.cv_logo {
		width: 64px;
		height: 64px;
	}
	.cv_section {
		padding-left: 32px;
	}
	.cv_section svg {
		margin-right: 16px;
	}
	section {
		padding: 24px;
		letter-spacing: 2px;
	}
}
@media (orientation: portrait) {
	html {
		font-size: 14px;
	}
	.text {
		padding: 16px;
		line-height: 1.5;
		min-height: calc(100vh - 128px);
	}
	.cv_logo {
		width: 48px;
		height: 48px;
	}
	.cv_section {
		padding-left: 8px;
	}
	.cv_section svg {
		margin-right: 8px;
	}
	section {
		padding: 0px;
	}
}
body {
    margin: 0px;
    padding-top: 48px;
    padding-bottom: 32px;
	color: #03045e;
	background-color: #00b4d8;
}
nav {
	background-color: #caf0f8;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	z-index: 998;
	letter-spacing: 2px;
}
footer {
	background-color: #caf0f8;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 32px;
	text-align: center;
	letter-spacing: 2px;
	gap: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
section {
	min-height: calc(100vh - 152px);
	margin: 0px;
	scroll-margin-top: 48px;
}
.text {
	font-family: "Lora", monospace;
	font-size: 0.9rem;
	margin: 0px auto;
	text-align: left;
	background-color: #ffffff;
	overflow-y: auto;
}
h1 {
	margin: 0px 0px 16px 0px;
	font-size: 1.6rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1;
}
h2 {
	margin: 0px 0px 16px 0px;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1;
}
h3 {
	margin: 16px;
	font-size: 1.1rem;
	font-weight: 500;
	line-height: 1.75;
}
iframe {
	margin: 0px auto;
	width: 560px;
	height: 315px;
	display: block;
	border: none;
}
img {
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
}
img.rounded {
	border-radius: 50%;
}
a:link, a:visited {
	color: #0077b6;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
a:hover {
	color: #00b4d8;
	text-decoration: underline;
}
.text a {
	font-weight: 400;
}
.cv_section {
	display: flow-root;
	padding-bottom: 16px;
}
.cv_section svg {
	float: left;
	margin-bottom: 16px;
}
.cv_skill {
	background-color: #caf0f8;
}
.project_logo {
	width: 192px;
	height: 192px;
}
.more {
	cursor: pointer;
	color: #0077b6;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	float: right;
	transition: transform 0.2s;
}
.more:hover {
	color: #00b4d8;
	text-decoration: underline;
}
.toggle-popup {
	display: none;
}
.popup {
	position: fixed;
	inset: 0;
	display: none;
	backdrop-filter: blur(3px);
	z-index: 999;
}
#rs:checked ~ .rs,
#slyville:checked ~ .slyville,
#wlbe:checked ~ .wlbe,
#dl2dt:checked ~ .dl2dt,
#dl2sh:checked ~ .dl2sh,
#brixar:checked ~ .brixar,
#mrio:checked ~ .mrio,
#f3d:checked ~ .f3d,
#kra_imp:checked ~ .kra_imp {
	display: flex;
}